{% extends 'base.html' %}
{% block title %} Materials {% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Materials</h2>
    <form method="get" class="d-flex" role="search">
        <input type="text" name="q" class="form-control me-2" placeholder="Search material..." value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>
</div>

  <a href="{% url 'material-add' %}" class="btn btn-success">+ Add Material</a>

<table class="table table-striped table-bordered">
  <thead class="table-light">
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Rate (Rs)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for material in materials %}
    <tr>
      <td>{{ material.name }}</td>
      <td>{{ material.unit }}</td>
      <td>{{ material.rate }}</td>
      <td>
        <a href="{% url 'material-edit' material.pk %}" class="btn btn-sm btn-outline-primary">Edit</a>
        <a href="{% url 'material-delete' material.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center text-muted">No materials found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
